																																		
																																		
																																		
																																		/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend caption{ margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline}
:focus{outline:0}
ol, ul{list-style:none}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:"" ""}
strong{font-weight:bold}
em{font-style:normal}
a{text-decoration:none; cursor:pointer}

body{
	background: #494c52 url('body-bg.png') 0 0 repeat-x;
	font-family: Calibri, Arial;
	font-size: 13px;
}

h1{
	width: 1000px;
	margin: 0 auto;
	height: 140px;
	background: url('header-bg-2.png') 0 0 no-repeat;
}
	h1 a{
		display: none;
	}

.message{
	display: none;
}
	
#backtoblog{
	width: 1000px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	top: 105px;
	left: 50%;
	margin: 0 0 0 -500px;
	text-align: right;
}
	#backtoblog a{
		color: #fff;
	}
	#backtoblog a:hover{
		text-decoration: underline;
	}

#loginform,
#registerform,
#lostpasswordform{
	display: block;
	width: 360px;
	margin: 0 auto;
	padding: 140px 30px 0 30px;
	background: url('user-login-bg.png') 0 0 no-repeat;
}
#registerform{
	background-image: url('user-registration-bg.png');
}
#lostpasswordform{
	background-image: url('lost-password-bg.png');
}

#login p{
	padding: 10px 0;
	color: #51545c;
}

.input{
	width: 330px;
	height: 30px;
	padding: 5px;
	color: #6f737e;
	font-size: 24px;
	border: none;
	background: url('input-bg.png') right top no-repeat;
}

.submit{
	text-align: right;
}
#wp-submit{
	height: 24px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	border: none;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	cursor: pointer;
	background: url('wp-submit-bg.png') 0 0 repeat-x;
}

#login #nav{
	display: block;
	width: 380px;
	margin: 0 auto;
	padding: 30px 20px;
	color: #393b40;
	background: url('user-login-bg.png') 0 -1170px no-repeat;
}
	#login #nav a{
		color: black;
	}
	#login #nav a:hover{
		text-decoration: underline;
	}